*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.primera-seccion{
    margin-top: 40px;
}

nav,section{
    width: 100%;
    height: 100%;
}

nav{
    background-color: #114E9C;
    color: white;
}

li a{
    text-decoration: none;
    outline: none;
    color: white;
}

nav .container- ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

nav .container- ul li{
    padding: 15px 15px;
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}
.container-{
    max-width: 1140px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#wave{
    display: block;
}

.flex{
    display: flex;
    align-items: center;
}
.contenido-izq,
.contenido-der{
    width: 50%;
    position: relative;
}

.item{
    position: relative;
}

.logo{
    width: 250px;
    margin: auto;
}

/* INICIO CARRUSEL */

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #114E9C !important;
    border-radius: 20px 20px 20px 20px  !important;
}

.owl-carousel button.owl-dot{
    background: transparent !important;
}

.owl-nav{
    display: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px !important;
    height: 8px !important;
    background: #fbf7f7 !important;
    margin: 0px !important;
    border-radius: 0px !important;
}
/* FIN CARRUSEL */

.informacion{
    background-color: #114E9C;
    color: white;
    padding: 30px 0px;
}
.subtitulo-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.contenido-cards{
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
}

.cards{
    max-width: 300px;
    width: 300px;
    text-align: center;
    padding: 40px 15px;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: -1px 4px 25px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 4px 25px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 25px -5px rgba(0,0,0,0.75);
}
.cards:hover{
    transform: scale(1.07);
    background-color: #FCB831;
}

.cards img{
    max-width: 80px;
}

.cards p:nth-child(1) {
    padding: 15px 0px;
}


.seccion-prestamista{
    padding: 10px 0px 50px 0px;
}
.contenido-prestamista{
    position: relative;
    width: 600px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43); 
    box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43);
}

.contenido-prestamista::after{
    content: '';
    width: 30px;
    height: 100%;
    position: absolute;
    background-color: #FCB831;
    top: 0;
    right: -30px;
}
.contenido-prestamista h1{
    color: #114E9C;
    text-align: center;
    padding: 20px 0px;
}

.contenido-prestamista p{
    color: #114E9C;
    text-align: center;
    padding: 5px 0px;
}

.seccion-intrucciones h2{
    padding: 0px 0px 30px 0px;
    text-align: center;
}

.seccion-intrucciones div p:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.seccion-intrucciones div p span{
    background-color: #FCB831;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 22px;
}
.pasos{
    text-align:center;
}
.pasos p{
    font-size: 20px;
}
.pasos span{
    margin-right: 10px;
}

#form-datos div,
.form-prestamos div{
    display: flex;
    flex-direction: column;
}
#form-datos div label,
.form-prestamos div label{
    font-size: 14px;
    text-transform: uppercase;
    width:      80%;
    margin: auto;
    color: #a6a6a6;
    font-weight: bold;

}
#form-datos input,
.form-prestamos input{
    background-color: #e4e4e4;
    outline: none;
    border: none;
    height: 35px;
    width: 80%;
    margin: 10px auto;
    padding: 0px 15px;
}

#form-datos div button,
.form-prestamos div button{
    width: 80%;
    height: 45px;
    background-color: #FCB831;
    margin: 10px auto 20px;
    text-align: center;
    border: none;
    color: white;
}
.form-prestamos div button:hover,
#form-datos div button:hover{
    background-color: #114E9C
}

.juntos{
    display: flex;
}

.logo-sociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

footer{
    background-color: #114E9C;
}
.redes{
    display: flex;
}

.logo-footer img{
    width: 150px;
}
.redes img{
    width: 30px;
    padding: 0px;
    margin: 0px 5px;
}
.copy{
    text-align: center;
    color: white;
    font-size: 14px;
    padding-bottom: 50px;
}
.swal-button{
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #114E9C;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button--cancel{
    background-color: red;
    color: white;
    border: red;
}

.swal-button--cancel:hover{
    background-color: red !important;

}

.swal-button--confirm:hover{
    background-color:#114E9C !important;
}
#nombrePrestamista span{
    margin-right: 5px;
    color: #FCB831;
    font-weight: bold;
}

.menu-boton{
    display: none;
}
.retirar-menu{
    transition: all 1s;
    top: -215px;
}
.center{
    text-align: center;
}
.margin-top-bottom h1{
    margin: 20px 0px;
}
#PrestamosHechos{
    justify-content: space-around;
}

.cards.cardsprestamos{
    border-radius: 0px;
    max-width: 300px;
    width: 300px;
    text-align: center;
    margin: 20px 0px;
    position: relative;
    padding: 40px 0px;
}
.contenido-cards{

    flex-wrap: wrap;
}
.rojo{
    color: #ff0100;
}
.morado{
    color:  #ba23ef;
}
.naranja{
    color: #f28627;
}
.cards.cardsprestamos .fondoTitulo p:nth-child(1){
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: bold;

}
.cards.cardsprestamos .fondoTitulo p:nth-child(2){
    font-size: 1.2rem;
    text-transform: capitalize;

}

.montoPrestado p:nth-child(1){
    font-size: 1.5rem;
}

.montoPrestado p:nth-child(1)::before{
    content: 'S/ ';
}

.borrarPrestamo{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 10px;
}
.borrarPrestamo{
    cursor: pointer;
}
.cards.cardsprestamos:hover{
    background-color: #114E9C;
}
.cards.cardsprestamos:hover p{
    color: #fff;
}

.cards.cardsprestamos:hover .borrarPrestamo{
    color: red;
    font-weight: bold;
}

.seccion-prestamos{
    display: none;
}

.cardsprestamos::before{
    content: '';
    position: absolute;
    background-color: #114E9C;
    width: 25%;
    left: 0;
    top: 0;
    height: 50px;
    border-radius: 0px 0px 20px;
    transition: 1s;
}

.cardsprestamos:hover::before{
    background-color: #FCB831;
    transition: 1s;
}
.buscador input::placeholder,
.buscador-responsive input::placeholder{
    color: white;
}

.buscador,.buscador-responsive {
    width: 380px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.buscador input,
.buscador-responsive input{
    font-size: 18px;
    padding-left: 10px;
    color: white;
}
.span-look {
    width: 66px;
    background-color: #fcb831;
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
input.palabra-look {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background: #114e9c;
}

.titutlo-info{
    text-align: center;
}
.pd-b-25{
    padding-bottom: 25px;
}
.hidden{
    display: none;
}
.filtro{
    display: none;
}

@media (max-width: 1270px){
    .simbolos span:nth-child(2)::before{
        right: 20px;
    }
    .container-{
        max-width: 1000px;
    }
    .cards {
        max-width: 250px;
        width: 250px;
    }
}
.buscador-responsive{
    display: none;
}


@media (max-width: 1000px){

    .container-{
        max-width: 800px;
    }
    .cards {
        max-width: 300px;
        width: 300px;
        margin: 20px 0px;
    }

    .contenido-cards {
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .subtitulo-info {
        display: block;
        text-align: center;
        margin: 10px 0px;
    }
    .simbolos span:nth-child(2)::before {
        right: auto;
    }
    .simbolos span:nth-child(1)::before {
        display: none;
    }
}

@media (max-width: 850px){
    .pasos{
        width: 100%;
    }

    .contenido-prestamista {
        width: 80%;
    }
}


@media (max-width: 700px){
    .pasos{
        text-align: center;
    }
    .pasos p {
        font-size: 16px;
    }

    .seccion-intrucciones div p span {
        padding: 5px 13px;
        font-size: 16px;
    }
}


@media (max-width: 675px){
    .logo-sociales {
        flex-direction: column;
    }
    nav{
        position: fixed;
        z-index: 2;
        top: 0;
        height: auto;

        -webkit-box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43);
        box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43);
    }
    nav .container- ul {
        display: block;
    }
    #nombrePrestamista{
        justify-content: flex-end;
    }
    .menu-boton{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #114E9C;
        position: fixed;
        bottom: 40px;
        right: 40px;
        -webkit-box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43);
        box-shadow: 15px 6px 24px 5px rgba(0,0,0,0.43);
    }
    .contenedor-hamburguesa{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }
    .linea{
        margin: auto;
        width: 70%;
        height: 5px;
        background-color: #FCB831;
        border-radius: 25px;
    }

    .linea:nth-child(2){
        display: none
    }

    .linea:nth-child(3){
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform:rotate(-45deg);
        left:2px;
    }
    .flex{
        flex-direction: column;
    }
    .contenido-der{
        width: 80%;
    }
    .contenido-cards {
        padding: 0px 0px;
    }
    .container- {
        width: 95%;
    }
    .linea:nth-child(1){position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform:rotate(45deg);
        left:2px;
    }
    .cambio-lineaUno{
        transition: .0s !important;
        width: 55% !important;
        transform: rotate(0deg) !important;
    }
    .cambio-lineaDos{
        display: block !important;
        width: 55% !important;
        transform: rotate(0deg) !important;
        position: absolute;
        margin: 25%;
    }

    .cambio-lineaTres{
        transition: .0s !important;
        width: 55% !important;
        margin-bottom: 15px;
        transform: rotate(0deg) !important;
    }
    .buscador{
        display: none;
    }
    .buscador-responsive{
        display: flex;
        bottom: 0px;
        position: fixed;
        bottom: 120px;
        right: 40px;
        flex-direction: row-reverse;
        z-index: 1;
    }
    .buscador-responsive .span-look {
        width: 66px;
        background-color: #fcb831;
        border-radius: 50%;
        padding: 15px;
        position: absolute;
        right: 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .buscador-responsive input.palabra-look {
        width: 15%;
        height: 100%;
        border-radius: 25px;
        background: #114e9c;
        transition: 1s all;
        position: relative;
        right: 0px;
        outline: none;
    }
    .mostrarbuscador{
        width: 100% !important;
    }
    .buscador-responsive{
        display: none;
    }
}


@media (max-width: 475px){
    .contenido-izq {
        width: 100%;
    }
    .buscador-responsive {
        width: 300px;
        height: 45px;
    }
}

@media (max-width: 389px){
    .buscador-responsive {
        width: 270px;
        right: 20px;
    }
    .buscador-responsive input.palabra-look {
        right: 4px;
    }
    .menu-boton{
        right: 20px;
    }
}